.form-signin {
    width: 340px;
    min-height: 615px;

    padding-top: 50px;
    padding-bottom: 41px;
}

.form-signin__title h2{
    font-size: 20px;
    font-weight: 500;
}

.form-signin__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;

    margin: 40px 0;
}

.form-signin__footer {
    gap: 16px;
}