<div class="profile-title">
  <div class="profile-title__photo">
    <img class="profile-title__photo__element" src="{{photo}}" />
    {{#if chagePhoto}}
      <div class="profile-title__photo__upload">
        <p>Поменять аватар</p>
      </div>
    {{/if}}
  </div>
  {{#if title}}
    <h2>{{title}}</h2>
  {{/if}}
</div>
