<form class="form-login container-form-modal">
    <div class="container-form-modal__content">    
        <div class="form-login__title">
        <h2>Вход</h2>
        </div>
        <div class="form-login__inputs">
        {{> InputForm label="Логин" type="login" error="Неверный логин"}}
        {{> InputForm label="Пароль" type="password" }}
        </div>
    </div>
    <footer class="form-login__footer">
      <button class="primary-button">Авторизоваться</button>
      <a class="primary-link">Нет аккаунта?</a>
    </footer>
  </form>