<div class="wrapper-chat">
    <div class="wrapper-choice">
        <div class="container-search">
            <div class="container-search__nav">
                <a class="container-search__nav__element">
                    <p>Профиль</p>
                    <img src="src/assets/arrow.svg"/>
                </a>
            </div>
            <div class="container-search__element">
                {{> InputSearch}}
            </div>
        </div>
        <div class="container-chats">
            <ul class="list-chat">
                <div class="list-chat__delimiter"></div>
                {{#each (listChat)}}
                <li class="list-chat__element">
                    {{> CardUser }}
                </li>
                <div class="list-chat__delimiter"></div>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="container-chat">
        <div class="container-chat__profile">
            {{> CardUser name="Вадим" photo="/src/assets/photoUser.png"}}
            <div class="container-chat__profile__menu">
                <img src="/src/assets/menu.svg"/>
            </div>
        </div>
        <div class="container-chat__element">
            {{> Chat chats=(listMessage)}}
        </div>
        <div class="container-chat__input">
            <div class="container-chat__input__attacher">
                <img src="/src/assets/attacher.svg"/>
            </div>
            <div class="container-chat__input__element">
                <input/>
            </div>
            <div class="container-chat__input__button">
                    <img src="/src/assets/arrow-circle.svg">
            </div>
        </div>
    </div>
</div>