<div className="error-code">
  <h2 className="error-code__elemnt">{{ code }}</h2>
  <h3 className="error-code__title">{{ title }}</h3>
  <a className="primary-link error-code__link" href="{{link}}">{{ text_link }}</a>
</div>;
