<div class="profile">
    <div class="profile__form">
        <div class="profile__form__title">
            {{> ProfileTitle title="Иван" photo=profilPhoto chagePhoto=true }}
        </div>
            {{> FormProfile readonly=true}}
        <div class="profile__form__changed with-delimetr">
            <a class="profile__form__changed__element">Изменить данные</a>
            <a class="profile__form__changed__element">Изменить пароль</a>
            <a class="profile__form__changed__element">Выйти</a>
        </div>
    </div>
    <div class="profile__back">
        <a class="profile__back__button">
            <img src={{arrowCircle}} alt="Иконка">
        </a>
    </div>
</div>
