<div className="input">
  <label className="input__container">
    <input className="input__element" type="{{type}}" name="{{name}}" placeholder="" />
    <div className="input__label">{{ label }}</div>
    <div className="input__text-error">{{ error }}</div>
  </label>
</div>
