.baseModal {
    width: fit-content;
    height: fit-content;
    border: none;
    z-index: 100;
}

.baseModal::backdrop {
    background: var(--color-secondery-text);
    opacity: 0.5;
}

.baseModal.close {
    display: none !important;
}

.baseModal__title h2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    color: var(--color-message);
}

.baseModal__content {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    width: 100%;
}

.error {
    color: var(--color-error) !important;
}

.baseModal footer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.baseModal footer .error {
    position: absolute;
    top: calc(100% + 10px);
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    text-align: center;
}

.baseModal-global {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.baseModal__space {
    top: 0;
    left: 0;
    background: var(--color-secondery-text);
}