<div class="profile">
    <div class="profile__form">
        <div class="profile__form__title">
            {{> ProfileTitle photo=profil_photo }}
        </div>
         <form class="profile__form__info with-delimetr">
            {{#each (profileFormChangedPassword)}}
             {{> InputProfile }}
            {{/each}}
        </form>
        <div class="profile__form__btn">
            <button class="primary-button">
                Сохранить
            </button>
        </div>
    </div>
    <div class="profile__back">
        <a class="profile__back__button">
            <img src="{{arrow_circle}}">
        </a>
    </div>
<div>