<div class="search">
  <label class="search__label">
    <input type="text" name="{{name}}" placeholder=""/>
    <div class="search__label__element">
      <img class="search__label__element__icon" src="{{search_img}}" alt=""/>
      <p class="search__label__element__text">Поиск</p>
    </div>
  </label>
</div>
