<div className="search">
  <label className="search__label">
    <input type="text" name="{{name}}" placeholder="" />
    <div className="search__label__element">
      <img className="search__label__element__icon" src="{{search_img}}" alt="" />
      <p className="search__label__element__text">Поиск</p>
    </div>
  </label>
</div>;
