<div class="search">
  <label class="search__label">
    <input type="text" placeholder=""/>
    <div class="search__label__element">
      <img class="search__label__element__icon" src="./src/assets/search.svg" />
      <p class="search__label__element__text">Поиск</p>
    </div>
  </label>
</div>