<div class="profile">
    <div class="profile__form">
        <div class="profile__form__title">
           {{> ProfileTitle photo=profil_photo}}
        </div>
        {{> FormProfile }}
        <div class="profile__form__btn">
            <button class="primary-button">
                Сохранить
            </button>
        </div>
    </div>
    <div class="profile__back">
        <a class="profile__back__button">
            <img src="{{arrow_circle}}" alt="Иконка">
        </a>
    </div>
<div>
    