<div class="modal-user">
 {{#>BaseModal title=title labelButton=labelButton errorFooterText=errorFooterText errorTitle=errorTitle}}
    <div class="modal-user__content">
       {{> InputForm label="Логин" type="login"}}
    </div>
  {{/BaseModal}}
</div>