<div class="container-modals">
    {{> ModalUploadFile title='Загрузите файл'}}
    {{> ModalUploadFile title='Файл загружен' content='pic.jpg'}}
    {{> ModalUploadFile title='Загрузите файл' errorSelected='Нужно выбрать файл'}}
    {{> ModalUploadFile title='Ошибка, попробуйте ещё раз' errorUpload=true}}
</div>