<div class="container-nav">
  <a page="login">Login</a>
  <a page="signin">Signin</a>
  <a page="listChat">Выбрать чат</a>
  <a page="profile">Профиль</a>
  <a page="profileChanged">Изменить данные Профиля</a>
  <a page="profileChangedPassword">Изменить пароль Профиля</a>
  <a page="modals">Модальные окна</a>
  <a page="error404">Ошибка 404</a>
  <a page="error500">Ошибка 500</a>
</div>