<div class="container-form-modal modal-list">
    <ul class="modal-list__element">
        {{#each list}}
            <li class="modal-list__element__item">
                <img src="{{photo}}"/>
                <p>{{value}}</p>
            </li>
        {{/each}}
    </ul>
</div>