.modal-list {
    display: flex;

    width: fit-content;
    height: fit-content;
    padding: 15px;
}

.modal-list__element {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-list__element__item {
    display: flex;
    gap: 15px;
}

.modal-list__element__item>button{
    background: var(--primary-background);
    cursor: pointer;
    border: none;
}
