<div class="message">
  {{#if (isEqual type "photo")}}
    <img class="message__element" src="{{value}}" />
  {{else}}
    <p class="message__element">{{value}}</p>
  {{/if}}
  <p class="message__time">{{time}}</p>
</div>