<div class="input-profile">
  <label class="input-profile__label">
    {{label}}
    <input
      class="input-profile__element"
      type="{{type}}"
      value="{{value}}"
      name="{{name}}"
      {{#if readonly}}
      readonly
      {{/if}}
    />
  </label>
</div>
